<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<!-- 
		name = the Name that is used to link to this section in the configuration file.
		type = Handler for the settings section. It includes two sections: the full path - the namespace of our data handler + the name of the handler, the name of the Assembly where this class is located.
		-->
		<section name="TrackerSettings" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
	</configSections>


	<TrackerSettings>
		<add key="isFirstRun" value="true" />
		<add key="is2v2Hidden" value="0" />
		<add key="is3v3Hidden" value="0" />
		<add key="isMmrHidden" value="0" />
		<add key="defaultPlayerID" value="0" />
		<add key="defaultSettings" value="0" />
		<add key="isTrayOff" value="0" />
	</TrackerSettings>
	
</configuration>

